.ol-radio-menu {
  display: flex;
  border: 1px solid #F1F1F1;
  padding: var(--olsera-space-2);
  border-radius: 0.313rem;
  &__img {
    width: var(--olsera-sizes-10);
    height: var(--olsera-sizes-10);
    border-radius: 0.313rem;
  }
  &__product {
    font-size: var(--olsera-fontSizes-sm);
  }
  &__otfStock {
    font-size: var(--olsera-fontSizes-sm);
    font-weight: var(--olsera-fontWeights-semibold);
    color: var(--olsera-colors-ol_red-500);
  }
  &__left {
    flex: 1;
  }
  &__right {
    margin-left: var(--olsera-space-2);
  }
}

.ol-radio-menu.active {
  border: 1px solid var(--olsera-colors-ol_blue-500);
  .ol-radio-menu {
    &__product {
      font-weight: var(--olsera-fontWeights-bold);
      color: var(--olsera-colors-ol_blue-500);
    }
  }
}

.ol-radio-menu.outOfStock {
  color: #767676;
  .ol-radio-menu {
    &__img {
      filter: grayscale(1);
    }
  }
}