.oq-lbl {
  font-size: var(--olsera-fontSizes-xs);
  color: #767676;
}

.oq-value {
  font-size: var(--olsera-fontSizes-lg);
  font-weight: var(--olsera-fontWeights-semibold);
  word-break: break-all;
}